body {
    font-family: Cambria,Georgia,sans-serif;
    margin-bottom: 50em;
    /* background-image: url(images/concrete_wall_2.png); */
    /* background-image: url(images/ps_neutral.png); */
}

a:link {
    text-decoration: none;
    padding: .1em;
    font-weight: 200;
    font-size: 18px;
    -webkit-transition: 0.20s ease-in;
    -moz-transition: 0.20s ease-in;
}

a:hover {
    color: white;
    background: darkred;
}

#content > h3 {
    text-align: right;
    border-bottom: 1px dotted #eee;
    padding-right: .1em;
}

#content > h3 a:link {
    font-size: 12px;
    font-family: Verdana, serif;
    color: #ccc;
}

#content > h3:hover {
    cursor: pointer;
}

#content > ul {
    list-style-type: tibetan;
}

#content > ul li {
    color: darkred;
    margin: .3em 0;
}
