<html>
  <head>
    <meta charset="utf-8" />
    <title><%= q + ' - ' + site %></title>
    <link rel="stylesheet" type="text/css" href="../../assets/default.css" />
  </head>
  <body>

    <div id="content">
      
    <% for (var sitename in data) { %>
    <h3><a href="#"><%= sitename %></a></h3>
    <ul>
      <% for (var i in data[sitename]) { %>
      <li>
        <a target="_blank" href="<%= data[sitename][i].link %>"><%= data[sitename][i].title  %></a>
      </li>
      <% } %>
    </ul>
    <% } %>

    </div>

    <script src="../../include/jquery.min.js"></script>
    <script src="../../assets/waypoints.min.js"></script>
    <script>
        $('#content h3').click
(function(e) {
          e.preventDefault();
          $(this).next('ul').slideToggle('fast');
        })
        .eq(0).next('ul').show();
    </script>
</body>
</html>
